.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 50px;
  }
  .header.shadow{
    background: #f9f6f6;
    box-shadow: 1px 4px 14px rgb(15 54 55);
    transition: 0.3s;
  } 
  
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo{
    font-family: var(--text-color);
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    font-weight: 500;
  }
  
  .nav-link{
    color: var(--text-color);
  }
  
  .nav-link:hover{
    color:#000;
  }
  
  
  /*Menu icon */
  
  .menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
  }
  
  .menu-icon div{
    display: block;
    background: var(--main-color);
    height: 3px;
    width: 25px;
    transition: 0.3s;
  }
  
  .move .line-1{
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .move .line-2{
    opacity: 0;
  }
  .move .line-3{
    transform: rotate(45deg) translate(-5px, -5px);
  }
  
  @media(max-width:1060px){
    .nav{
        padding: 14px 0;
    }
  }
  
  @media(max-width:770px){
    .menu-icon{
        display: flex;
    }
    .navbar{
        position: absolute;
        top:0%;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--container-color);
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px;
    }
    .nav-link{
        display: block;
        margin: 1rem 0;
    }
   
   
  }
  .navbar.open-menu{
  right: 0;
  transition: 0.5s;
  }
  