
section{
    padding: 50px 10%;
}
.heading{
    text-align: center;

  }
  
  .heading h1{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--main-color);
  }

  .contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
   
  }

  .contact-form form{
    position: relative;
    width: 400px;
  }

  form input, form textarea{
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    background: #ece9e9;
  }
  form textarea{
    resize: none;
    padding: 20px;
  }
  

 
  .btn-form{
    display: inline-block;
    background: var(--btn-color);
    padding: 0.8rem 2rem;
    color: #857575;
    font-weight: 800;
    border-radius: 7px;
    border: none;
    
  }
  .btn-form:hover{
    background: var(--btn-hov-color);
    letter-spacing: 2px;
  }
  
